.gameGUI {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0% 0% 0% 0%;
  background-color: #000000;
}

.gameGUIContainer {
  background-color: #000000;
  margin-bottom: 8%;
}


.backgroundImage {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 67.5%;
  z-index: 0;
}


.gameSceneGUIContainer {
  margin: 0% 0% 0% 0%;
  
}

.playerGameInterfaceContainer {
  margin: 0% 0% 0% 0%;
  position: absolute;
  top: 47.5%;
  left: 17.5%;
}

.playerGameInterfaceImage {
  margin: 0% 0% 0% 0%;
  height: 33vh;
  
}

.playerGameInterfaceCursorsContainer {
  margin: 0% 0% 0% 0%;
  position: absolute;
  top: 16.5%;
  left: 7%;
}

.playerGameInterfaceCursorImage {
  margin: 0% 0% 2.8% 0%;
  height: 5.8vh;
  cursor: pointer;
}

.walletCursorContainer {
  margin: 0% 0% 0% 0%;
}

.expAnimation {
  padding: 0% 0% 11% 0%;
  margin: -23.3% 0% 0% 60.8%;
  height: 220px;
}


.playerGameInterfaceCursorImage:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.playerGameInterfaceCursorImage:active {
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08);
}




